

<%= @user.email %>

<div id="user-listed-items">
    <% if @user.items %>
        <% @user.items.each do |item| %>
    <p id="item-name"><%= item.name %></p>
    <div id="product-<%=item.id%>-info"></div>
    <button class="more-product-info" data-id=<%=item.id%>>More Info</button>
        <%end%>
    <%end%>

</div>




<button id="add-item-button">Add Items</button>


<br>
<br>
<br>
<br>
<div id="add-item-form" class='add-item-form'></div>

<%= link_to 'Shop', items_path %>

<script type="text/javascript">
    $('#add-item-button').click(function() {
         $('#add-item-form').html("<%= escape_javascript(render :partial => 'items/form') %>")
    })

    $('.more-product-info').click(function() {
        const id = $(this).attr("data-id")
        posting = $.getJSON('/items/'+id, function(data) {
            const item = data
            $(`#product-${id}-info`).append(`<p>${item["description"]}</p><p>${item["price"]}</p>`)
        })
    })
</script>
