

<%= form_for @item do |f| %>
    Name: <%= f.text_field :name %><br>
    Category: <%= f.text_field :category %><br>
    Price: $<%= f.text_field :price %><br>
    Item Description: <%= f.text_field :description %><br>
    Number of Items: <%= f.text_field :inventory %><br>
    <%= f.hidden_field :seller_id, value: @user.id,  class: 'user-id'%><br>

    <%= f.submit %>
<%end%>

<%= @user.id %>



<script type="text/javascript">
    $('form').submit(function(e) {
        e.preventDefault()
        var values = $(this).serialize();
        const id = $('.user-id').val()
        posting = $.post('/users/'+id+'/items', values)
        posting.done(function(values) {
            const item = values["name"]
            $('#user-listed-items').append(`<p>${item}</p>`)
        })
    })
</script>


