
<% @items.each do |item| %>
    <div>
            <div id="item-container">
                <div class="item-list" data-id=<%=item.id%>>
                    <%= item.name %><br>
                    <%= item.description %><br>
                    <%= item.price %> <br>
                </div>
            </div>
        <div class="add-button" data-id=<%=item.id%>></div>
    </div>
<% end %>

<%= @current_user_id %>

<button id="shop-button">Start shopping</button>
<div id="shopping-bag"></div>

<script type="text/javascript">
    $('#shop-button').click(startShopping)

function startShopping() {
    $('.add-button').append(`<button class="add-item-button">Add Item To Bag</button><button class="email-seller-button">Email Seller</button>`)
        if (!$('.add-button').is(':empty')) {
            $('#shop-button').off('click', startShopping)
            $('.add-item-button').click(addItemToShoppingCart)
        }
        $('#shopping-bag').html("<%= escape_javascript(render :partial => 'invoices/form') %>")
}


function addItemToShoppingCart() {
    let id = $(this).parent().attr('data-id');
    posting = $.getJSON('/items/'+id, function(data) {
        const item = data
        $('#shopping-bag-items').append('<p>'+item["name"]+'</p>')
    })
}



</script>






